.MarkdownViewer li.checkboxed {
    list-style: none;
    margin-left: -20px;
}

.MarkdownViewer li.checkboxed > span {
    display: inline-flex;
    align-items: center;
}

.MarkdownViewer li.checkboxed input[type=checkbox]{
    margin-right: 5px;
}
