div.LabelsInput {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 0;
}

.LabelsInput > input {
    width: auto;
    flex-grow: 2;
    border: none;
    background: transparent;
    min-width: 30px;
    padding-left: 0;
}

.LabelsInput .RemovableLabel {
    margin: 11px 6px 11px 3px;
}
